node_modules/
build/
.chaindata/
abi/
EthereumController.key
.idea

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity

pids
*.pid
*.seed
*.pid.lock

coverage/
coverage.json
