{
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 140,
        "singleQuote": true,
        "explicitTypes": "always"
      }
    }
  ]
}
