{
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 140,
        "singleQuote": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 119,
        "tabWidth": 2
      }
    },
    {
      "files": "ens-resolver-keys.json",
      "options": {
        "printWidth": 60
      }
    }
  ]
}
