name: Contracts size

on:
  pull_request: {}

jobs:
  target-contracts-size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          fetch-depth: 2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - uses: actions/cache@v3
        id: cache
        with:
          path: '**/node_modules'
          key: uns-yarn-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
        if: steps.cache.outputs.cache-hit != 'true'
      - run: yarn compile:size
      - uses: actions/upload-artifact@v3
        with:
          name: hardhat-contract-sizer-output
          path: cache/.hardhat_contract_sizer_output.json

  pr-contracts-size:
    runs-on: ubuntu-latest
    needs: target-contracts-size
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - uses: actions/cache@v3
        id: cache
        with:
          path: '**/node_modules'
          key: uns-yarn-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
        if: steps.cache.outputs.cache-hit != 'true'
      - uses: actions/download-artifact@v3
        with:
          name: hardhat-contract-sizer-output
          path: cache/
      - uses: unstoppabledomains/solidity-sizer@v0.1.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          command: yarn compile:size